body{
    background-color: black;


    background-image: url('https://wallpaperaccess.com/full/2061120.jpg');
background-repeat: repeat;
background-position:fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;

}

.head{

    margin: 0px 20px 0px 20px;
    border-right: 100px solid transparent;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: monospace;
    color: white;
    position: fixed;
    top: 0;
    
    height: 6px;
    width: 100%;}

a{text-decoration: none;
    color: white;

}
a:hover{
    background:rgb(2, 106, 143);
}

.table{margin: 120px;
   border-collapse: collapse;}

p{color: rgb(124, 246, 2);
    font-family: monospace;
    font-size: 1.5em;}

h1{color: rgba(255, 255, 255, 0.998);
    font-family: monospace;
    font-size: 1.5em;
    }

#A01{font-family:serif;
    text-transform: uppercase;
    font-size: 2em;
    color:tomato}